global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80

    # ACLs
    acl is_socket path_beg /socket.io
    acl is_api path_beg /api /game /stats

    # Routing
    use_backend backend_service if is_socket
    use_backend backend_service if is_api
    
    default_backend frontend_service

backend backend_service
    server backend_node backend:5000 check

backend frontend_service
    server frontend_node frontend:80 check
