@import "tailwindcss";

@theme {
    --color-primary: #070F22;
    --color-secondary: #030916;
    --color-tertiary: #0E1B3B;
}

body {
    background: var(--color-primary);
    color: white;
}

@utility disabled {
    @apply bg-gray-600 cursor-not-allowed opacity-75;
}


@layer utilities {
    /* Delete arrows from 'numbers' input */
    /* Chrome, Safari, Edge, Opera */
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .no-spinner {
        -moz-appearance: textfield;
    }

    /*Custom scrollbar*/
    .custom-scrollbar::-webkit-scrollbar {
        width: 14px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: theme('colors.slate.900');
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: theme('colors.purple.900');
        border-radius: 100%;
        border: 3px solid theme('colors.slate.900');
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: theme('colors.purple.500');
    }

    .custom-scrollbar {
        scrollbar-color: theme('colors.purple.900') theme('colors.slate.900');
    }

}

@layer components {

    header {
        @apply w-screen fixed top-0 left-0 z-50 min-h-[10vh] bg-secondary flex items-center pl-[5%];

        h1 {
            @apply text-3xl;
        }
    }

    #sidebar {
        @apply absolute top-0 right-0 z-100 w-[200px] md:w-[300px] h-full bg-secondary text-center pt-6;

        h2 {
            @apply text-2xl;
        }
    }

    #player-container {
        @apply bg-tertiary rounded-xl px-4 pb-8 pt-3 border;

        h3 {
            @apply text-2xl pb-3;
        }

        p {
            @apply text-base
        }

        #current-bet-container {
            @apply absolute -bottom-3 left-[calc(35%)] rounded-lg border;

            p {
                @apply text-lg bg-tertiary px-4;
            }
        }

    }

    #poker-table {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[900px] h-[420px] rounded-full bg-cover bg-center bg-no-repeat;

        #pot {
            @apply absolute top-22 left-1/2 -translate-x-1/2 text-center;
        }

        #cards-container {
            @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex gap-3
        }
    }

    #stats-table {
        th {
            @apply text-center py-4 px-4 text-slate-400
        }

        td {
            @apply py-4 px-4 text-center;
        }
    }

    #game-flow-controls-container {
        @apply absolute top-1/6 z-[9999] left-1/2 -translate-x-1/2 text-center flex gap-4;

        button {
            @apply border-2 border-white px-10 py-2 rounded-2xl text-xl shadow-lg cursor-pointer tracking-wide hover:scale-105
        }
    }

    #create-table-page {
        @apply min-h-screen p-8 flex flex-col items-center overflow-y-auto;

        section {
            @apply bg-slate-800 p-6 rounded-2xl shadow-lg border border-slate-700;

            h2 {
                @apply text-2xl font-semibold text-purple-500;
            }
        }
    }

}