@import "tailwindcss";

@theme {
    --color-primary: #070F22;
    --color-secondary: #030916;
    --color-tertiary: #0E1B3B;
}

body {
    color: white;
}

@utility disabled {
    @apply bg-gray-600 cursor-not-allowed opacity-75;
}


@layer utilities {
    /* Delete arrows from 'numbers' input */
    /* Chrome, Safari, Edge, Opera */
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .no-spinner {
        -moz-appearance: textfield;
    }

    /*Custom scrollbar*/

    .custom-scrollbar {
        --sb-track: theme('colors.slate.900');
        --sb-thumb: theme('colors.purple.900');
        --sb-thumb-hover: theme('colors.purple.500');

        /* Firefox */
        scrollbar-color: var(--sb-thumb) var(--sb-track);
    }
    .custom-scrollbar-emerald {
        --sb-track: theme('colors.slate.900');
        --sb-thumb: theme('colors.emerald.400');
        /*--sb-thumb-hover: theme('colors.red.500');*/
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 14px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: var(--sb-track);
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--sb-thumb);
        border-radius: 100%;
        border: 3px solid var(--sb-track);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: var(--sb-thumb-hover);
    }
}

@layer components {
    #player-container {
        @apply rounded-xl px-4 pb-6 pt-3 border bg-linear-to-br from-slate-800 to-slate-900 w-40 md:w-68 transition-all;

        h3 {
            @apply text-xl truncate mb-1 font-semibold;
        }

        #current-bet-container {
            @apply md:absolute md:-bottom-3 md:left-[calc(36%)] border rounded-xl text-center mt-4 -mb-3 md:mt-0 md:mb-0;

            p {
                @apply text-lg bg-slate-800 px-4 rounded-xl;
            }
        }

    }

    #poker-table {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[900px] h-[420px] rounded-full bg-cover bg-center bg-no-repeat;

        #pot {
            @apply absolute top-22 left-1/2 -translate-x-1/2 text-center;
        }

        #cards-container {
            @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex gap-3
        }
    }

    #stats-table {
        th {
            @apply text-center py-4 px-4 text-slate-400
        }

        td {
            @apply py-4 px-4 text-center;
        }
    }

    #game-flow-controls-container {
        @apply text-center flex gap-4;

        button {
            @apply border border-slate-700 bg-gradient-to-tl from-slate-800/50  to-slate-950/50 px-8 py-2 rounded-2xl text-xl shadow-lg cursor-pointer tracking-wide hover:scale-105
        }
    }

    #create-table-page {
        @apply min-h-screen p-8 flex flex-col items-center overflow-y-auto;

        section {
            @apply bg-slate-800 p-6 rounded-2xl shadow-lg border border-slate-700;

            h2 {
                @apply text-2xl font-semibold text-purple-500;
            }
        }
    }

}